@import "_reset.scss";

/* colors */
$main: black;
$sub: #555;
$counter: white;

/* breakpoints */
$computer: "screen and (min-width:1000px)";

body {
  font-family: 'IBM Plex Mono', Courier, monospace;
}


header {
  background-color: $main;
  padding: 3vh 3vh 1vh 3vh;

  .headerTitle {
    font-size: 50px;
    color: $counter;
    text-decoration: none;
  }


  nav {
    margin-top: 0.5vh;

    ul {
      display: flex;

      li {
        margin: 1vh;

        a {
          color: $counter;
          text-decoration: none;
        }
      }

      :first-child {
        margin-left: 0;

      }
    }
  }
}

.flex-wrapper {
  display: flex;
  justify-content: space-between;
  min-height: 85vh;


  .left-sidebar {

    display: none;
    background-color: $sub;
    @media #{$computer} {
      display: block;
      flex-grow: 1;
      min-width: 200px;
    }
  }

  main {
    flex-grow: 4;
    flex-shrink: 0;
    margin-left: 4vw;
    h1,h2,h3,h4{
a{
color: inherit;
text-decoration: none;
}
  }

    h1{
font-size: 2.5rem;
    }
h2{font-size: 2rem}
  }

  .right-sidebar {
    display: none;

    @media #{$computer} {
      display: block;
      flex-grow: 1;
      min-width: 200px;
    }
  }

  & > * {
    flex-basis: 0;
  padding-top: 4vh;
  }

}

footer {
  border-top: 2px solid black;
  position: fixed;
  width: 100vw;
  bottom: 0;
  height: 3vh;
  padding-top: 1vh;
  padding-left: 2vw;
  background-color: black;
  color: white;
  a{
    color: inherit;
  }
}
